@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor1:#00030C;
    --cor2:#ffffff;
    --cor3:#167BF7;
}
body, html{
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
}
.cabecalho{
    width: 1440px;
    height: 680px;
    background: url(imagens/Background.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right center;
}
.cabecalho__formulario{
    width: 580px;
    height: 431px;
    color: var(--cor2);
    padding-top: 125px;
    padding-left: 90px;
    padding-bottom: 124px;
}
.cabecalho__formulario__titulo{
    font-size: 1.7rem;
    padding-bottom: 22px;
    text-align: center;
}
.cabecalho__formulario__combo{
    width: 512px;
    height: 307px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.cabecalho__formulario__combo__ancoras{
    display: flex;
    flex-direction: column;
    padding-top: 54px;
}
.cabecalho__formulario__combo__ancoras a{
   text-decoration: none;
   display: flex;
   color: var(--cor2);
   justify-content: center;
   align-items: center;
   width: 512px;
   height: 56px;
   margin-bottom: 16px;
}
.cabecalho__formulario__combo__ancoras__a1{
    background-color: var(--cor3);
    border-radius: 8px;
}
.cabecalho__formulario__combo__ancoras__a2{
    border: 1px solid var(--cor2);
    border-radius: 8px;
}
.abecalho__cformulario__combo__ancoras__paragrafo{
    text-align: center;
}